USE [master]
GO
/****** Oggetto: Database [BlueHarbor]    Data dello script 17/06/2026 17:45:50 ******/
CREATE DATABASE [BlueHarbor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlueHarbor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BlueHarbor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BlueHarbor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BlueHarbor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlueHarbor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlueHarbor]
GO
/****** Oggetto: User [EDU-ITS\Domain Users]    Data dello script 17/06/2026 17:45:50 ******/
CREATE USER [EDU-ITS\Domain Users] FOR LOGIN [EDU-ITS\Domain Users]
GO
/****** Oggetto: Table [dbo].[Berths]    Data dello script 17/06/2026 17:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Berths](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Size] [varchar](2) NOT NULL,
 CONSTRAINT [PK_Berths] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [dbo].[Settings]    Data dello script 17/06/2026 17:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Key] [varchar](50) NOT NULL,
	[Value] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [dbo].[Ships]    Data dello script 17/06/2026 17:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Size] [varchar](2) NOT NULL,
	[ArrivalDay] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[Status] [varchar](10) NOT NULL,
	[BerthId] [int] NULL,
	[OccupationStartDay] [int] NULL,
	[Notes] [varchar](255) NULL,
 CONSTRAINT [PK_Ships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [dbo].[Users]    Data dello script 17/06/2026 17:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Berths] ON 

INSERT [dbo].[Berths] ([Id], [Name], [Size]) VALUES (1, N'Berth XL-1', N'XL')
INSERT [dbo].[Berths] ([Id], [Name], [Size]) VALUES (2, N'Berth L-1', N'L')
INSERT [dbo].[Berths] ([Id], [Name], [Size]) VALUES (3, N'Berth M-1', N'M')
SET IDENTITY_INSERT [dbo].[Berths] OFF
GO
INSERT [dbo].[Settings] ([Key], [Value]) VALUES (N'CurrentVirtualDay', N'1')
GO
SET IDENTITY_INSERT [dbo].[Ships] ON 

INSERT [dbo].[Ships] ([Id], [Name], [Size], [ArrivalDay], [Duration], [Status], [BerthId], [OccupationStartDay], [Notes]) VALUES (1, N'Titanic', N'XL', 5, 7, N'Assigned', 3, 10, N'Prima nave in attesa')
INSERT [dbo].[Ships] ([Id], [Name], [Size], [ArrivalDay], [Duration], [Status], [BerthId], [OccupationStartDay], [Notes]) VALUES (2, N'Nave A', N'L', 1, 5, N'Pending', NULL, NULL, NULL)
INSERT [dbo].[Ships] ([Id], [Name], [Size], [ArrivalDay], [Duration], [Status], [BerthId], [OccupationStartDay], [Notes]) VALUES (3, N'Nave B', N'M', 2, 7, N'Pending', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ships] OFF
GO
SET ANSI_PADDING ON
GO
/****** Oggetto: Index [UQ_Berths_Name]    Data dello script 17/06/2026 17:45:51 ******/
ALTER TABLE [dbo].[Berths] ADD  CONSTRAINT [UQ_Berths_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Oggetto: Index [UQ_Users_Username]    Data dello script 17/06/2026 17:45:51 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ships] ADD  CONSTRAINT [DF_Ships_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Ships]  WITH CHECK ADD  CONSTRAINT [FK_Ships_Berths] FOREIGN KEY([BerthId])
REFERENCES [dbo].[Berths] ([Id])
GO
ALTER TABLE [dbo].[Ships] CHECK CONSTRAINT [FK_Ships_Berths]
GO
ALTER TABLE [dbo].[Berths]  WITH CHECK ADD  CONSTRAINT [CK_Berths_Size] CHECK  (([Size]='S' OR [Size]='M' OR [Size]='L' OR [Size]='XL'))
GO
ALTER TABLE [dbo].[Berths] CHECK CONSTRAINT [CK_Berths_Size]
GO
ALTER TABLE [dbo].[Ships]  WITH CHECK ADD  CONSTRAINT [CK_Ships_ArrivalDay] CHECK  (([ArrivalDay]>=(0)))
GO
ALTER TABLE [dbo].[Ships] CHECK CONSTRAINT [CK_Ships_ArrivalDay]
GO
ALTER TABLE [dbo].[Ships]  WITH CHECK ADD  CONSTRAINT [CK_Ships_Duration] CHECK  (([Duration]>=(3) AND [Duration]<=(15)))
GO
ALTER TABLE [dbo].[Ships] CHECK CONSTRAINT [CK_Ships_Duration]
GO
ALTER TABLE [dbo].[Ships]  WITH CHECK ADD  CONSTRAINT [CK_Ships_Size] CHECK  (([Size]='S' OR [Size]='M' OR [Size]='L' OR [Size]='XL'))
GO
ALTER TABLE [dbo].[Ships] CHECK CONSTRAINT [CK_Ships_Size]
GO
ALTER TABLE [dbo].[Ships]  WITH CHECK ADD  CONSTRAINT [CK_Ships_Status] CHECK  (([Status]='Departed' OR [Status]='Assigned' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Ships] CHECK CONSTRAINT [CK_Ships_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Operator' OR [Role]='Scheduler'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Oggetto: StoredProcedure [dbo].[AssegnaNaveABanchina]    Data dello script 17/06/2026 17:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- CREA UNA PROCEDURA PER ASSEGNARE NAVI
-- ============================================================

CREATE PROCEDURE [dbo].[AssegnaNaveABanchina]
    @ShipId INT,           -- ID della nave da assegnare
    @BerthId INT,          -- ID della banchina scelta
    @StartDay INT          -- Giorno di inizio occupazione
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. Prendo la durata della nave dal database
    DECLARE @Duration INT;
    DECLARE @EndDay INT;
    
    SELECT @Duration = Duration 
    FROM [dbo].[Ships] 
    WHERE Id = @ShipId;
    
    -- 2. Se la nave non esiste o non è in attesa, esco
    IF @Duration IS NULL
    BEGIN
        SELECT '❌ Nave non trovata' AS Messaggio;
        RETURN;
    END
    
    -- 3. Controllo se la nave è già assegnata
    IF EXISTS (SELECT 1 FROM [dbo].[Ships] WHERE Id = @ShipId AND Status = 'Assigned')
    BEGIN
        SELECT '❌ Nave già assegnata a una banchina' AS Messaggio;
        RETURN;
    END
    
    -- 4. Calcolo l'ultimo giorno
    SET @EndDay = @StartDay + @Duration - 1;
    
    -- 5. Provo ad assegnare (con transazione)
    BEGIN TRANSACTION;
    
    IF NOT EXISTS (
        SELECT 1 
        FROM [dbo].[Ships] 
        WHERE BerthId = @BerthId 
            AND Status = 'Assigned'
            AND OccupationStartDay <= @EndDay
            AND (OccupationStartDay + Duration - 1) >= @StartDay
    )
    BEGIN
        -- Assegna
        UPDATE [dbo].[Ships]
        SET 
            BerthId = @BerthId,
            OccupationStartDay = @StartDay,
            Status = 'Assigned'
        WHERE Id = @ShipId;
        
        COMMIT TRANSACTION;
        
        -- Messaggio di successo con dettagli
        SELECT 
            '✅ Nave assegnata!' AS Messaggio,
            @ShipId AS NaveId,
            @BerthId AS BanchinaId,
            @StartDay AS Inizio,
            @EndDay AS Fine,
            @Duration AS Durata;
    END
    ELSE
    BEGIN
        ROLLBACK TRANSACTION;
        
        -- Mostra quali navi occupano la banchina
        SELECT 
            '❌ Banchina occupata!' AS Messaggio,
            Id AS NaveId,
            Name AS NomeNave,
            OccupationStartDay AS Inizio,
            OccupationStartDay + Duration - 1 AS Fine
        FROM [dbo].[Ships]
        WHERE BerthId = @BerthId 
            AND Status = 'Assigned'
            AND OccupationStartDay <= @EndDay
            AND (OccupationStartDay + Duration - 1) >= @StartDay;
    END
END
GO
USE [master]
GO
