USE [BlueHarbor]
GO
/****** Oggetto: User [EDU-ITS\Domain Users]    Data dello script 08/06/2026 17:03:08 ******/
CREATE USER [EDU-ITS\Domain Users] FOR LOGIN [EDU-ITS\Domain Users]
GO
/****** Oggetto: Table [dbo].[Assignments]    Data dello script 08/06/2026 17:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ship_id] [int] NOT NULL,
	[berth_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[assigned_at_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ship_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [dbo].[Berths]    Data dello script 08/06/2026 17:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Berths](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[size] [nvarchar](2) NOT NULL,
	[index_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [dbo].[Ships]    Data dello script 08/06/2026 17:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ships](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[size] [varchar](2) NOT NULL,
	[arrivalDay] [int] NOT NULL,
	[durationDays] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[dockId] [int] NULL,
	[allocation_start_day] [int] NULL,
	[notes] [varchar](500) NULL,
	[rowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ships] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [dbo].[Users]    Data dello script 08/06/2026 17:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[passwordHash] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ships] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_assignments_berth] FOREIGN KEY([berth_id])
REFERENCES [dbo].[Berths] ([id])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_assignments_berth]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_assignments_ship] FOREIGN KEY([ship_id])
REFERENCES [dbo].[Ships] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_assignments_ship]
GO
ALTER TABLE [dbo].[Ships]  WITH CHECK ADD  CONSTRAINT [FK_Ships_Berths] FOREIGN KEY([dockId])
REFERENCES [dbo].[Berths] ([id])
GO
ALTER TABLE [dbo].[Ships] CHECK CONSTRAINT [FK_Ships_Berths]
GO
ALTER TABLE [dbo].[Berths]  WITH CHECK ADD CHECK  (([size]='S' OR [size]='M' OR [size]='L' OR [size]='XL'))
GO
ALTER TABLE [dbo].[Ships]  WITH CHECK ADD  CONSTRAINT [CK_Ships_ArrivalDay] CHECK  (([arrivalDay]>=(0)))
GO
ALTER TABLE [dbo].[Ships] CHECK CONSTRAINT [CK_Ships_ArrivalDay]
GO
ALTER TABLE [dbo].[Ships]  WITH CHECK ADD  CONSTRAINT [CK_Ships_Duration] CHECK  (([durationDays]>=(3) AND [DurationDays]<=(15)))
GO
ALTER TABLE [dbo].[Ships] CHECK CONSTRAINT [CK_Ships_Duration]
GO
ALTER TABLE [dbo].[Ships]  WITH CHECK ADD  CONSTRAINT [CK_Ships_Size] CHECK  (([size]='XL' OR [size]='L' OR [size]='M' OR [size]='S'))
GO
ALTER TABLE [dbo].[Ships] CHECK CONSTRAINT [CK_Ships_Size]
GO
ALTER TABLE [dbo].[Ships]  WITH CHECK ADD  CONSTRAINT [CK_Ships_Status] CHECK  (([status]='Departed' OR [status]='Assigned' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[Ships] CHECK CONSTRAINT [CK_Ships_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]='Scheduler' OR [role]='Operator'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_users_role]
GO
